<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Estabelecimento</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div th:insert="menu :: navbar"> </div>

<div class="container mt-3">
    <h2>App Estabelecimento</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio orci, egestas a mauris at, vehicula venenatis ipsum. Ut luctus orci et congue egestas. Phasellus id tempor sapien. Aenean commodo a lacus ac commodo. Integer eu sapien dolor. Mauris convallis, turpis ac lacinia mollis, leo diam consectetur nunc, sed efficitur sapien ligula id enim. In velit augue, aliquam sodales rutrum eu, pulvinar in tellus. Suspendisse ac varius nulla. Pellentesque ligula augue, feugiat ut orci vitae, luctus sagittis nisi. Proin non mauris in tellus efficitur blandit quis vel enim. Quisque vitae eleifend justo. Sed dictum urna malesuada magna placerat, et semper purus faucibus. Vestibulum sit amet ante consequat, imperdiet magna vehicula, blandit ante. Suspendisse potenti. Mauris ut volutpat erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean congue ut velit sed consequat. Morbi ac arcu massa. Nulla congue efficitur nisl, in pellentesque justo pulvinar nec. Suspendisse volutpat lobortis accumsan. Suspendisse ultricies velit at maximus pharetra. Nullam cursus pretium nibh sit amet rutrum. Duis porta varius lacinia. Aenean condimentum tortor vitae arcu varius, eget posuere nunc dictum. Morbi id imperdiet dolor, in congue ligula. Vivamus consequat ligula elementum enim dapibus, quis interdum libero gravida. Proin ut lacinia lorem, ut scelerisque metus. Pellentesque ut volutpat velit, sit amet commodo erat. Duis ut lorem viverra, iaculis dui et, semper mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacus quam, mollis in suscipit vel, facilisis nec tortor.</p>
</div>

</body>
</html>