<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entre ou Cadastre-se</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div th:insert="menu :: navbar"></div>

<div class="container mt-3">

    <h2>Autenticação</h2>
    <form action="/login" method="post">
        <div class="mb-3 mt-3">
            <label>E-mail:</label>
            <label>
                <input type="email" class="form-control" placeholder="Entre com o seu e-mail" name="username"
                       value="usuario@gmail.com">
            </label>
        </div>

        <div class="mb-3">
            <label>Senha:</label>
            <label>
                <input type="password" class="form-control" placeholder="Entre com a sua senha" name="password"
                       value="123">
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Acessar</button>
    </form>
</div>
</body>
</html>